.testimonials {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
}

.wrapper {
  align-items: flex-end;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
}

.wrapper > img {
  justify-self: center;
  width: 25rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container > :nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.container > :nth-child(2) {
  font-size: 0.8rem;
  text-transform: uppercase;
  display: block;
}

.wrapper > :nth-child(3) {
  text-align: right;
}

.reviews {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.carousel {
  width: 100%;
}

.tCarousel {
  padding: 2rem;
}

.testimonial {
  align-items: center;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem -50px #7d7d7d;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.testimonial > img {
  left: 45%;
  position: absolute !important;
  top: -1.5rem !important;
  width: 3rem !important;
}

.testimonial > span:nth-of-type(1) {
  align-items: center;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}

.testimonial > hr {
  height: 1px;
  width: 80%;
  background: rgb(198, 198, 198);
  border: none;
}
